{{#partial "content"}}
<form action="/heroes" method="post">
    <input type="text" name="hero" placeholder="hero-name">
    <input type="text" name="superPowers" placeholder="super-powers">
    <input type="text" name="role" placeholder="role">
    <button type="submit">send</button>
</form>
{{/partial}}
{{> layout.hbs}}