{{#partial "content"}}
<form action="/squads/new" method="post">
    <input type = "text" name = "name" placeholder="name">
    <input type="text" name="theme" placeholder="theme">
    <input type="number" name="max" placeholder="max-size">
    <button type="submit">Submit</button>
</form>
{{/partial}}
{{> layout.hbs}}