{{#partial "content"}}
    {{#each userSquad}}
        <p>{{theme}}</p>
        <img src="" alt="Squad">
        <p>{{squadName}}</p>
        <p>{{maxHeroes}}</p>
    {{/each}}
{{/partial}}
{{> layout.hbs}}