{{#partial "content"}}
<p>Congrats bro!!!!</p>
    {{#each userSquad}}
        <p>{{theme}}</p>
        <p>{{squadName}}</p>
        <p>{{maxHeroes}}</p>
        <a href="/">Home</a>
{{/each}}
    {{#each heroes}}
        {{name}}
        {{/each}}
{{/partial}}
{{> layout.hbs}}